@page "/"
@rendermode InteractiveServer
@inject ChatBot.Services.IApiReaderService ApiReaderService
@inject IJSRuntime JS;

@using System.Diagnostics;

<PageTitle>ChatBot</PageTitle>

<div class="mainContainer">
	<div class="messages">
		@foreach(ChatMessage message in _messages)
		{
			<div class="lastInput">@message.UserMessage</div>
			<div class="response">@message.ApiResponse</div>
		}
	</div>
	<div class="inputBox">
		<input 
			@bind="userMessage"
			placeholder="Type your message..."
			@onkeypress="HandleKeyPress" />
	</div>
	<div>
		<button @onclick="SubmitInput">Submit</button>
	</div>
</div>


@code
{
	public string? userMessage;
	private List<ChatMessage> _messages = new();

	public async Task SubmitInput()
	{

		string instruction = "You are Neil deGrasse Tyson, an astrophysicist known for your engaging and insightful explanations. Please respond to the following input in character: ";
		string messageWithInstruction = instruction + userMessage;

		if (!string.IsNullOrWhiteSpace(userMessage))
		{
			ChatMessage newMessage = new()
			{
				UserMessage = userMessage
			};

			string? apiResponse;

			try
			{
				apiResponse = await ApiReaderService.GetChatResponseAsync(
				messageWithInstruction, "llama-3.1-70b-versatile");
			}
			catch (Exception ex)
			{
				Console.WriteLine($"Api call failed: {ex.Message}");
				throw;
			}

			newMessage.ApiResponse = apiResponse;

			_messages.Add(newMessage);

			userMessage = string.Empty;

			StateHasChanged();
		}
	}

	public async Task HandleKeyPress(KeyboardEventArgs e)
	{
		if (e.Key == "Enter")
		{
			await SubmitInput();
		}
	}

	public class ChatMessage
	{
		public string? UserMessage { get; set; } = string.Empty;
		public string? ApiResponse { get; set; } = string.Empty;
	}
}