@page "/"
@inject ChatBot.Services.IApiReaderService ApiReaderService

@using System.Diagnostics;

<PageTitle>ChatBot</PageTitle>

<div class="mainContainer">
	<div class="messages">
		@foreach(ChatMessage message in _messages)
		{
			<div class="lastInput">@message.UserMessage</div>
			<div class="response">@message.ApiResponse</div>
		}
	</div>
	<div class="inputBox">
		<input @bind="userMessage" placeholder="Type your message..." />
	</div>
	<div>
		<button type="button" @onclick="SubmitInput">Submit</button>
	</div>
</div>

@code
{
	public string? userMessage;
	private List<ChatMessage> _messages = new();

	protected override async void OnInitialized()
	{
		Console.WriteLine("Component initialized");

		await SubmitInput();
	}

	public async Task SubmitInput()
	{
		userMessage = "Test Message";

		Console.WriteLine("SubmitInput called");

		if (!string.IsNullOrWhiteSpace(userMessage))
		{
			ChatMessage newMessage = new()
			{
				UserMessage = userMessage
			};

			Console.WriteLine($"User message: {userMessage}");
			
			string? apiResponse = await ApiReaderService.GetChatResponseAsync(
				userMessage, "llama-3.1-70b-versatile");

			Console.WriteLine($"API response: {apiResponse}");

			newMessage.ApiResponse = apiResponse;

			_messages.Add(newMessage);

			userMessage = string.Empty;

			StateHasChanged();

			Console.WriteLine("Submit finished");
		}
	}

	public class ChatMessage
	{
		public string? UserMessage { get; set; } = string.Empty;
		public string? ApiResponse { get; set; } = string.Empty;
	}
}