@page "/"
@rendermode InteractiveServer
@inject ChatBot.Services.IApiReaderService ApiReaderService

@using System.Diagnostics;

<PageTitle>ChatBot</PageTitle>

<div class="mainContainer">
	<div class="messages">
		@foreach(ChatMessage message in _messages)
		{
			<div class="lastInput">@message.UserMessage</div>
			<div class="response">@message.ApiResponse</div>
		}
	</div>
	<div class="inputBox">
		<input 
			@bind="userMessage"
			placeholder="Type your message..."
			@onkeypress="HandleKeyPress" />
	</div>
	<div>
		<button @onclick="SubmitInput">Submit</button>
		<button @onclick="TestButton">Test</button>
	</div>
</div>


@code
{
	public string? userMessage;
	private List<ChatMessage> _messages = new();

	public async Task SubmitInput()
	{
		Console.WriteLine("SubmitInput called");

		if (!string.IsNullOrWhiteSpace(userMessage))
		{
			ChatMessage newMessage = new()
			{
				UserMessage = userMessage
			};

			Console.WriteLine($"User message: {userMessage}");

			string? apiResponse;

			try
			{
				apiResponse = await ApiReaderService.GetChatResponseAsync(
				userMessage, "llama-3.1-70b-versatile");
			}
			catch (Exception ex)
			{
				Console.WriteLine($"Api call failed: {ex.Message}");
				throw;
			}


			Console.WriteLine($"API response: {apiResponse}");

			newMessage.ApiResponse = apiResponse;

			_messages.Add(newMessage);

			userMessage = string.Empty;

			StateHasChanged();

			Console.WriteLine("Submit finished");
		}
	}

	public void HandleKeyPress(KeyboardEventArgs e)
	{
		if (e.Key == "Enter")
		{
			Console.WriteLine("Enter pressed");
		}
	}

	public void TestButton()
	{
		Console.WriteLine("Test button pressed!");
	}

	public class ChatMessage
	{
		public string? UserMessage { get; set; } = string.Empty;
		public string? ApiResponse { get; set; } = string.Empty;
	}
}