@page "/"

<PageTitle>ChatBot</PageTitle>

<div class="container">
	<div class="row">
		<div class="col-4">
		</div>
		<div class="col-4">
			<div class="messages">
				<div class="lastInput">Lorem ipsum odor amet, consectetuer adipiscing elit.</div>
				<div class="response">Lorem ipsum odor amet, consectetuer adipiscing elit.</div>
			</div>
			<div class="inputBox"></div>
		</div>
		<div class="col-4">
		</div>
	</div>
</div>

@code
{
	protected override async Task OnInitializedAsync()
	{
	}
}